/******* General ********/
body {
     color: #9d9d9d;
     font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5 {
     margin: 0;
}
img {
     width: 100%;
}
a:hover {
     text-decoration: none;
}
.row{
     margin: 0 !important;
     padding: 0 !important;
}
.BG-blue {
     background: #2196f3;
     color: #FFFFFF;
}
.navbar {
     height: 100px;
     margin-bottom: 0;
}
.navbar-brand {
     width: 150px;
}
.navbar-right {
     margin-top: 23px;
}
.navbar-right a{
     color: #FFFFFF;
}

.grid-center {
     display: table-cell;
     vertical-align: middle;
     text-align: center;
}
.grid-center > * {
     display: inline-block;
     float: none;
}
.title{
     width: 100%;
     font-weight: 300;
     padding-left: 10px;
     padding-top: 5px;
     padding-bottom: 5px;
     text-transform: uppercase;
}
.paddingContainer {
     padding-top: 50px;
     padding-bottom: 50px;
}
/******* Index ********/
.pagesHeader {
     width: 100%;
     height: 350px;
     background: no-repeat center center;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}
.quickAccess {
     list-style: none;
     margin: 0;
     padding: 0;
     margin-top: 30px;
     margin-bottom: 30px;
}
.quickAccess li{
     list-style: none;
     margin: 0;
     padding: 0;
     background: #2196f3;
     color: #FFFFFF;
     padding: 17px;
}
.quickAccess li:nth-child(even) {
     background: #008ce6;
}
.quickAccess h4 {
     font-weight: 300;
     font-size: 14px;
}


.newsletter {
     padding: 20px;
}
.newsletter h4 {
     color: #d81031;
}
.newsletter p {
     color: #008ce6;
}
.newsletter h4::after {
     content: "";
     float: left;
     margin-top: 12px;
     margin-bottom: 12px;
     width: 100%;
     height: 1px;
     background: #c7cdd1;
}
.newsletter input {
     background: #1497ec;
     color: #FFFFFF;
     border: none;
     width: 100%;
     border-radius: 0;
}
.newsletter span {
     background: #136eb3;
     color: #FFFFFF;
     border: none;
     cursor: pointer;
}
.welcome p{
     padding-top: 30px;
     padding-bottom: 30px;
}

/******* Footer ********/
footer {
     display: table;
     width: 100%;
     height: 150px;
}
footer img{
     width: 40px;
     margin: 5px;
}
footer p {
     margin-top: 10px;
}




/******* Responsive ********/
@media screen and (max-width: 991px) {

}
@media screen and (max-width: 767px) {

}
@media (min-width: 1200px){
     .container {
          width: 80%;
     }
}
