.cbp_tmtimeline {
     margin: 0;
     padding: 0;
     list-style: none;
     position: relative;
}

/* The line */
.cbp_tmtimeline:before {
     content: '';
     position: absolute;
     top: 0;
     bottom: 0;
     width: 5px;
     background: #239F85;
     left: 20%;
     margin-left: -10px;
}
.cbp_tmlabel p{
     margin-top: 12px;
     margin-bottom: 0;
}
.cbp_tmtimeline > li {
     position: relative;
}

/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
     display: block;
     padding-right: 100px;
     position: absolute;
}

.cbp_tmtimeline > li .cbp_tmtime span {
     display: block;
     text-align: right;
     font-size: 1.6em;
     margin-top: 3px;
     color: #239F85;
}

/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
     margin: 0 0 15px 25%;
     background: #239F85;
     color: #fff;
     padding: .7em;
     font-size: 1.2em;
     font-weight: 300;
     line-height: 1.4;
     position: relative;
}

.cbp_tmtimeline > li .cbp_tmlabel h2 {
     margin-top: 0px;
     padding: 0 0 10px 0;
     border-bottom: 1px solid rgba(255,255,255,0.4);
     font-size: 1em;
     font-weight: 300;
}
.cbp_tmlabel p{
     font-weight: 300;
     font-size: 14px;
}

/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
     right: 100%;
     border: solid transparent;
     content: " ";
     height: 0;
     width: 0;
     position: absolute;
     pointer-events: none;
     border-right-color: #239F85;
     border-width: 10px;
     top: 10px;
}

/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
     width: 13px;
     height: 13px;
     speak: none;
     font-style: normal;
     font-weight: normal;
     font-variant: normal;
     text-transform: none;
     font-size: 1.4em;
     line-height: 40px;
     -webkit-font-smoothing: antialiased;
     position: absolute;
     background: #239F85;
     border-radius: 50%;
     text-align: center;
     left: 20%;
     top: 12px;
     margin: 0 0 0 -14px;
}
/* Example Media Queries */
@media screen and (max-width: 1407px) {
     .cbp_tmtimeline > li .cbp_tmtime span:last-child {
          font-size: 16px;
     }
}
@media screen and (max-width: 65.375em) {

     .cbp_tmtimeline > li .cbp_tmtime span:last-child {
          font-size: 16px;
     }
}

@media screen and (max-width: 47.2em) {
     .cbp_tmtimeline:before {
          display: none;
     }

     .cbp_tmtimeline > li .cbp_tmtime {
          width: 100%;
          position: relative;
          padding: 0 0 20px 0;
     }

     .cbp_tmtimeline > li .cbp_tmtime span {
          text-align: left;
     }

     .cbp_tmtimeline > li .cbp_tmlabel {
          margin: 0 0 30px 0;
          padding: 1em;
          font-weight: 400;
          font-size: 95%;
     }

     .cbp_tmtimeline > li .cbp_tmlabel:after {
          right: auto;
          left: 20px;
          border-right-color: transparent;
          border-bottom-color: #239F85;
          top: -20px;
     }
     .cbp_tmtimeline > li .cbp_tmicon {
          /*
          position: relative;
          float: right;
          left: auto;
          margin: -55px 5px 0 0px;
          */
          display: none;
     }
}
